@media print {
  :root {
    /* --accentGreen: rgb(7, 173, 56) !important;
    --accentGrey: rgb(141, 141, 141) !important; */
  }

  body {
    background-color: white;
    font-size: 0.5em !important;
    max-width: 80em !important;
  }

  .button-strip {
    display: none;
  }

}
